
/*responsive*/
@media only screen and (max-width: 1100px) {
    #mySidebar{
        display: block !important;
        width: 100% !important;
        position: relative !important;
    }
    #sql_div{
        width: 100% !important;
    }
    #sql_btn{
        width: 100% !important;
    }
    #architecture{
        overflow: scroll !important;
    }
}
@media only screen and (max-width: 1838px) {
    #cou_label{
        width:100% !important;
    }
    #cls_label{
        width:100% !important;
    }
    #loc_label{
        width:100% !important;
    }
    #act_label{
        width:100% !important;
    }
    #architecture{
        overflow: scroll !important;
    }
}

/*video*/
#tennis_opt{
    display: none;  /* should be none */
}
#tennis_opt_slow{
     display: none;  /* should be none */
 }
#baseball_opt{
    display: none;
}
#baseball_opt_slow{
    display: none;
}
#tennis_bf{
    display: none;
}
#tennis_bf_slow{
    display: none;
}
#baseball_bf{
    display: none;
}
#baseball_bf_slow{
    display: none;
}
#surfing_opt{
    display: none;
}
#surfing_opt_slow{
    display: none;
}
#skate_opt{
    display: none;
}
#skate_opt_slow{
    display: none;
}
#surfing_bf{
    display: none;
}
#surfing_bf_slow{
    display: none;
}
#skate_bf{
    display: none;
}
#skate_bf_slow{
    display: none;
}

/*sidebar*/
#cou_label{
    margin: 0 0 0 0;
    width:25%;
    display: none;
}
#cls_label{
    margin: 0 0 0 0;
    width:37%;
    display: none;
}
#loc_label{
    margin: 0 0 0 0;
    /*width:38%*/
    width:46.5%;
    display: none;
}
#act_label{
     margin: 0 0 7% 0;
     width:38%
 }

/*architecture*/
#architecture{
    border: 1px solid lightgray;
    margin:0 auto;
    width:95%;
    user-select:none;
}

/*penal*/
.operation-penal {
    margin-bottom: 20px;
    border: 1px solid lightgray;
    border-radius: 5px;
    padding: 20px;
    position: relative;
    display: inline-block;
}
.elliptical-item {
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
    color: white;
    padding: 20px;
    border-radius: 3px;
}
.operation-penal-label {
    position: absolute;
    top: -20px;
    left: 20px;
    background-color: white;
    padding: 5px;
}

.box {
  font: 10px sans-serif;
}

.box line,
.box rect,
.box circle {
  fill: steelblue;
  stroke: #000;
  stroke-width: 1px;
}

.box .center {
  stroke-dasharray: 3,3;
}

.box .outlier {
  fill: none;
  stroke: #000;
}

.axis {
  font: 12px sans-serif;
}
 
.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
 
.x.axis path { 
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}


.w3-sidebar a {
    font-family: "serif", sans-serif
}
body, h1, h2, h3, h4, h5, h6, .w3-wide {
    font-family: "Tahoma", sans-serif;
    font-weight: normal;
}

.table_tr {
    font-family: "Tahoma", sans-serif;
    font-weight: normal;
}

/*performance and time */

#frame_crt_k_handle {
    width: 2em;
    height: 1.6em;
    top: 50%;
    margin-top: -.8em;
    text-align: center;
    line-height: 1.6em;
    background-color: #2e6da4;
    color:white;
}

#clip_crt_k_handle {
    width: 2em;
    height: 1.6em;
    top: 50%;
    margin-top: -.8em;
    text-align: center;
    line-height: 1.6em;
    background-color: #2e6da4;
    color:white;
}
.select_container{
    width: 80%;
}

.play-button {
    position: absolute;
    width: 60px;
    height: 60px;
    background-color: rgba(0,0,0,0.25);
    border-radius: 100%;
    top: 50%;
    left: 50%;
    margin: -30px 0 0 -30px;
    cursor: pointer;
  }
  
.play-button:after {
    content: '';
    display: block;
    position: absolute;
    left: 22px;
    top: 10px;
    border-width: 20px;
    border-style: solid;
    border-color: transparent transparent transparent white;
  }
  
.play-button:hover {
    background-color: black;
  }
textarea
{
    overflow-y:scroll;
}
a.disabled {
    pointer-events: none;
    color: #ccc;
}