<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Action Queries Demo</title>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <!--    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>-->
        <!--    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>-->
        <script src="https://d3js.org/d3.v5.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="../static/jquery-ui.js"></script>
        <link rel="stylesheet" href="../static/w3.css"/>
        <link rel="stylesheet" href="../static/modal.css"/>
        <link rel="stylesheet" href="../static/responsive.css"/>
        <script type="text/javascript" src="../static/box.js"></script>
        <!-- <script src="../static/chart.js"></script> -->
        <script type="text/javascript" src="../static/accuracy.js"></script>
        <script type="text/javascript" src="../static/index.js"></script>
        <script type="text/javascript" src="../static/video.js"></script>
        <script type="text/javascript" src="../static/utils.js"></script>
    </head>

    <body
        class="w3-content" style="max-width: 2000px; background-color: #d0cccc;">
        <!-- Modal -->
        <div class="modal fade w3-animate-opacity" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
            <div class="modal-dialog" style="width: 40%;">
                <div class="modal-content">
                    <div class="modal-body">
                        <p>
                            <b>
                                <span style="font-size: medium;">Action selection</span>
                            </b>
                        </p>
                        <div class="row" style="margin-left: 5px; margin-bottom: 10px;">
                            <div class="col-md-12">
                                <form>
                                    <label id="washingDishes1" style="margin-right: 10px;">
                                        <input id="washingDishes"  type="radio" name="action_checkbox" value="washingDishes"/>
                                        <label for="washingDishes">Washing Dishes</label>
                                    </label>
                                </form>
                            </div>
                        </div>





                        <p>
                            <b>
                                <span style="font-size: medium;">Class selection</span>
                            </b>
                        </p>
                        <div class="row" style="margin-left: 5px; margin-bottom: 10px;">
                            <div class="col-md-12">
                                <form>
                                    <label id="knife1" style="margin-right: 10px;">
                                        <input id="knife" type="checkbox" name="class_checkbox" value="knife"/>Knife
                                    </label>
                                    <label id="faucet1" style="margin-right: 10px;">
                                        <input id="faucet" type="checkbox" name="class_checkbox" value="faucet"/>Faucet
                                    </label>
                                </form>
                            </div>
                        </div>




                        <p>
                            <b>
                                <span style="font-size: medium;">Predicates</span>
                            </b>
                        </p>
                        <div class="row" style="margin-left: 5px; margin-bottom: 10px;">
                            <div class="col-md-12" id="predicate"></div>
                        </div>
                        <!-- <div class="row" style="margin-left: 5px;">
                            <table class="table table-striped" style="margin-top: 10px;">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Predicates</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th id="row1" scope="row" style="display: none;">1</th>
                                        <td id="row_val1" style="display: none;">X</td>
                                    </tr>
                                    <tr>
                                        <th id="row2" scope="row" style="display: none;">2</th>
                                        <td id="row_val2" style="display: none;">X</td>
                                    </tr>
                                    <tr>
                                        <th id="row3" scope="row" style="display: none;">3</th>
                                        <td id="row_val3" style="display: none;">X</td>
                                    </tr>
                                    <tr>
                                        <th id="row4" scope="row" style="display: none;">4</th>
                                        <td id="row_val4" style="display: none;">X</td>
                                    </tr>
                                    <tr>
                                        <th id="row5" scope="row" style="display: none;">5</th>
                                        <td id="row_val5" style="display: none;">X</td>
                                    </tr>
                                    <tr>
                                        <th id="row6" scope="row" style="display: none;">6</th>
                                        <td id="row_val6" style="display: none;">X</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div> -->
                    </div>
                    <div class="modal-footer">
                        <button type="button" id="modal_button" class="btn btn-secondary" data-dismiss="modal">
                            Close
                        </button>
                        <button type="button" id="save" class="btn btn-primary">
                            Save changes
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <!--<nav class="w3-sidebar w3-bar-block w3-white w3-collapse w3-top" style="z-index:3;width:400px" id="mySidebar">-->
        <nav class="w3-sidebar w3-bar-block w3-white w3-collapse w3-top" style="z-index: 3; margin-left: 1%; width: 350px;" id="mySidebar">
            <div class="w3-container w3-display-container w3-padding-16">
                <h2 class="w3-wide" style="letter-spacing: 4px;">
                    SVQ++: Action Queries Demo
                </h2>
            </div>


            <div class="w3-large w3-text-grey" style="margin: 1% 1% 10% 1%;">
                <a onclick="myAccFunc()" href="javascript:window.location.reload();" class="w3-button w3-block w3-blue w3-left-align">
                    <b>Online Model</b>
                    <i class="fa fa-caret-down"></i>
                </a>
                <br/>
                <a onclick="myAccFunc()" href="javascript:window.location.reload();" class="w3-button w3-block w3-blue w3-left-align">
                    <b>Offline Model</b>
                    <i class="fa fa-caret-down"></i>
                </a>
                <br/>
                <a onclick="myAccFunc()" href="javascript:window.location.reload();" class="w3-button w3-block w3-blue w3-left-align">
                    <b>Demo Video</b>
                    <i class="fa fa-caret-down"></i>
                </a>
                <br/>

                <a onclick="myAccFunc()" href="javascript:window.location.reload();" class="w3-button w3-block w3-blue w3-left-align">
                    <b>Architecture</b>
                    <i class="fa fa-caret-down"></i>
                </a>
            </div>

            <div
                class="w3-container w3-padding-32" style="margin: 0% 1% 0% 10%;">
                <!--<i class="fa fa-fw fa-envelope"></i> Email: <br>-->
                <a href="https://www.utoronto.ca/">
                    <img src="./static/icons/logo.png" style="width: 50%;"/>
                </a>

                <div style="margin: 10px 0 0 0;">
                    <span style="font-family: sans-serif; font-size: large;">
                        <a href="mailto:drchao@cs.toronto.edu">Get in Touch</a>
                    </span>
                    <br/>
                    <span style="font-family: sans-serif; font-size: large;">
                        <a href="http://www.cs.toronto.edu/~xarchakos/svq.html">Link to SVQ</a>
                    </span>
                </div>
            </div>
        </nav>


        <div class="w3-main" style="margin-left: 350px; margin-right: 1%;">
            <div class="w3-row w3-padding-16">
                <div class="operation-penal w3-row w3-white" style="margin: 0% 5% 0% 5%; width: 90%">
                    <label class="operation-penal-label" style="font-size: medium;">
                        <b>Query Definition</b>
                    </label>

                    <div class="w3-row">

                        <div class="w3-col s6 m6 l6">
                            <p>
                                <b>
                                    <span style="font-size: small;">1. Select Video Source</span>
                                </b>
                            </p>
                            <div class="w3-container" id="radio_data">
                                <div class="w3-half">
                                    <input type="radio" id="det" name="project" value="washingDishesClip"/>
                                    <label for="det">Washing Dishes</label>
                                </div>
                            </div>
                        </div>

                        <div class="w3-col s4 m4 l4">
                            <p>
                                <b>
                                    <span style="font-size: small;">2. Select Mode</span>
                                </b>
                            </p>
                            <div class="w3-container" id="radio_mode">
                                <div class="w3-half">
                                    <input type="radio" id="slow" name="mode" value="fixed"/>
                                    <label for="slow">Fixed</label>
                                </div>
                                <div class="w3-half">
                                    <input type="radio" id="slow" name="mode" value="Dynamic"/>
                                    <label for="slow">Dynamic</label>
                                </div>
                            </div>
                        </div>
                        <div class="w3-col s2 m2 l2" style="padding-top: 3%;">
                            <button id="predicates_button" type="button" class="w3-button hover " data-toggle="modal" data-target="#exampleModalLong" style="visibility: visible;color:
                                                                                                                                                 #fff;background-color: #31708f;border-color: #2e6da4; ">
                                Select Predicates
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="w3-row w3-padding-16">
                <div class="operation-penal w3-row w3-white" style="margin: 0% 5% 0% 5%; width: 90%">
                    <div>
                        <b>
                            <span style="font-size: medium;">SQL Query</span>
                        </b>
                    </div>
                    <div class="w3-container" style="padding-top: 1.5%; padding-bottom: 2.5%; ">
                        <div class="w3-container" id="sql_div" style="padding-right: 0;">
                            <textarea readonly class="w3-codespan" id="sql_text" rows="7" style="width: 95%; font-size: 11px;"></textarea>
                        </div>
                    </div>
                    <div class="w3-col m4 w3-center" id="sql_btn" style="width:30%">
                        <p>
                            <button id="run" class="w3-btn"
                                    style="color:#fff;background-color:grey;border-color:#2e6da4;width:100%">
                                Run
                            </button>
                        </p>
                    </div>
                </div>
            </div>


            <!-- Second Row -->
            <div class="w3-row-padding w3-padding-16" style="height: 350px;">
                <div class="w3-half w3-margin-bottom" style="height: 100%; padding-left: 20px;">
                    <ul class="w3-ul w3-border w3-white w3-center" style="height: 100%;">
                        <li class="w3-black w3-large">Mode</li>
                        <li class="w3-padding-16" style="height: 85%;">



                            <video id="washingDishesVideo" style="max-width: 100%; max-height: 100%;" onplaying="washingDishesUpdateLink()">
                                <source src="./static/videos/washingDishes.mp4" type="video/mp4"/>
                            </video>




                        </li>
                    </ul>
                </div>

                <div class="w3-half w3-margin-bottom" style="height: 100%;">
                    <ul class="w3-ul w3-light-grey w3-center" style="height: 100%;">
                        <li class="w3-teal w3-large table-cell">Accuracy</li>
                        <li class="w3-padding-4 w3-left-align" style="min-height: 100px;">
                            <div id="my_dataviz"></div>
                        </li>
                    </ul>
                </div>
            </div>
        </body>
    </body>
</html></body></html>
